streamlit
matplotlib
pandas
numpy
joblib
scikit-learn
wordcloud
transformers
torch
sentencepiece
pdfplumber
python-docx
seaborn
scikit-learn
imblearn
googletrans==4.0.0-rc1
textblob
tensorflow
transformers
sentence-transformers
torch
langdetect
requests
deep-translator
